<ion-content>    
   

 
    <div *ngIf="data1" class="card" onclick="this.classList.toggle('expanded')" style="background: #1C103C">
        <!-- <img class='label' src="https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_960_720.jpg" viewBox="0 0 100 100" height="200" width="200"> -->
        <!-- <h1 class='label title' viewBox="0 0 100 100" style="color: white" >python development</h1> -->
        <ion-item style="--background: #1C103C"  lines="none" >
            <ion-avatar slot="start">
                <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"style="zoom:1.8; margin-top: 5px; margin-left: -6px; color: white" [routerLink]="['']"></ion-icon>
            </ion-avatar>
           
            <h3 class='label title'  viewBox="0 0 100 100" style="color: white"  > {{data1.purpose}} </h3>
          </ion-item>
        
        <!-- <h3 class='label title'  viewBox="0 0 100 100" style="color: white"  > <ion-icon  name="arrow-back"style="zoom:1.3;margin-right:3%;  color: white" [routerLink]="['']"></ion-icon>python development python development in progress </h3> -->
  
      <div class="text1">
        <div class="text-content">
          
          <div class="body-text" style="color: white"> <h5> Created by {{data1.number}} </h5>on<br>{{data1.timestamp.toDate() | date}}</div>
        </div>
      </div>
      <ion-icon class="chevron" mode='ios' name="arrow-up" style="zoom:2;" viewBox="0 0 100 35"></ion-icon>
      <!-- <svg class="chevron"  xmlns="https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_960_720.jpg" viewBox="0 0 100 35" width="30"><path d="M5 30L50 5l45 25" fill="none" stroke="#000" stroke-width="5"/></svg> -->
    </div>
     
      <!-- <div *ngIf="data1" class="card"  style="background: #1C103C"  onclick="this.classList.toggle('expanded')">
        
       
        <ion-item style="--background: #1C103C"  lines="none" >
          <ion-avatar slot="start">
              <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"style="zoom:1.8; margin-top: 5px; margin-left: -6px; color: white" [routerLink]="['']"></ion-icon>
          </ion-avatar>
         
          <h3 class='label title'  viewBox="0 0 100 100" style="color: white"  > {{data1.purpose}} </h3>
     
       
      <div class="text1">
        <div class="text-content">
          
          <div class="body-text" style="color: white">  <h5> Created by {{data1.number}} </h5> on<br> {{data1.timestamp.toDate() | date}}</div>
        </div>
      </div>
      <ion-icon class="chevron" mode='ios' name="arrow-up" style="zoom:2;" viewBox="0 0 100 35" ></ion-icon>
     
    </div>  -->
      <br>
      <div *ngFor='let img of data' >
          <h5 text-center > {{img}} </h5>
<hr style= "width: 80%; height: 3px; background-color:red; color:red;border: 0 none;margin: 5px auto; ">
       

          <ion-slides [options]="slideOptsOne" >
              <ion-slide *ngFor="let t of date_wise[img]">
                <ion-card >
                  <ion-card-content>
                    <img src= "{{ t.src }}" style ="width:100%;height:250px" *ngIf="t.type=='image'" (click)="viewimage(t.src)" />
                    <video width="auto" height="240" controls *ngIf="t.type=='video'">
                        <source [src]='sanitizer.bypassSecurityTrustResourceUrl(t.src)'  type="video/mp4">
                    </video>
                    <br>
                
                    <h2 *ngIf="t.message"  style="font-size: 20px;">{{ t.message }} </h2>
                    <br>
                    <!-- <h2 *ngIf="t.userid"  style="font-size: 20px;">{{ t.userid }} </h2>
                    <br> -->
                    <ion-icon name="ios-chatbubbles" style="zoom:2.0;color: grey;margin-left:10px;"  [routerLink]="['/chats', t.userid, this.journeyid, this.purposeid]"></ion-icon>
                   
        
                  </ion-card-content>

                  <ion-item>
                    <ion-textarea clearOnEdit="true" placeholder= 'comments' [(ngModel)]="textadvice"></ion-textarea >
                    <ion-icon ios="ios-send" md="md-send" (click)="sendadvice(t.idjourney,t.postid)"></ion-icon>
                  </ion-item> 
                  
                  
                  <br>
                  <ion-item lines="none" style="padding: 2px; box-shadow: 9px 8px 28px -5px grey; " *ngIf="t.comments.length > 0"> 
                    <ion-avatar slot="start"  >
                        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                      </ion-avatar>
                    <ion-col size="10">
                    <p style="font-size: 15px" >
                      
                    <span *ngIf="t.comments[t.comments.length-1]">{{t.comments[t.comments.length-1]}} </span>
                  
                     </p>
                    </ion-col >
                     <ion-col size="1" >
                        <ion-icon name="heart" style="zoom:1.5;color:#F00F87"></ion-icon>
                        <br>
                        <ion-badge color="secondary" style="margin-right: 3px;">26</ion-badge>
                    </ion-col>
              
                  
                   
                  </ion-item>
                  <br>
                    <button (click)="showcomments()" *ngIf="hide"> More</button>
                    <br>

                    <div *ngIf="comments">
                      <ion-item *ngFor="let comment of t.comments" lines="none" style="padding: 2px; box-shadow: 9px 8px 28px -5px grey; "> 
                          <ion-avatar slot="start"  >
                              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                            </ion-avatar>
                          <ion-col size="10">
                          <p style="font-size: 15px">
                          <span *ngIf="t.comments[t.comments.length-1]">{{comment}} </span>
                           </p>
                          </ion-col >
                           <ion-col size="1" >
                              <ion-icon name="heart" style="zoom:1.5;color:#F00F87"></ion-icon>
                              <br>
                              <ion-badge color="secondary" style="margin-right: 3px;">26</ion-badge>
                          </ion-col>
                         
                        </ion-item>
              
                        <br>
                        <br>
                        <button (click)="hidecomments()"> Hide</button>

                    </div>
                    <br>
                  
                </ion-card>

             
              </ion-slide>

              
             </ion-slides>
             
             <br>
             <br>
            </div>

   
</ion-content>
