
<ion-header  *ngIf="isUserLoggedIn"  >
    <ion-toolbar style="--background : #1C103C" mode="ios">
        <!-- <ion-buttons slot="start" >
            <ion-menu-button autoHide="false" style="color: #B4B6B5">
            </ion-menu-button>
          </ion-buttons> -->
          
        
        <ion-row>
            <!-- <ion-col size="10">
                <ion-searchbar  style="--background:white" (keyup)="getTopics($event)"  > </ion-searchbar>
            </ion-col> -->
            <!-- <ion-col size="1">
                <ion-icon name="notifications" style="zoom:1.8; margin-top: 8px; color: #B4B6B5"  ></ion-icon>
            </ion-col> -->
            <ion-col size="10">
              <ion-searchbar  mode="ios"  animated style="--background:white" placeholder="Search Journeys" (keyup)="getTopics($event)"> </ion-searchbar>
          </ion-col>
            <ion-col size="1">

              <ion-avatar style="height: 38px; width:38px; margin-top: 10px; margin-left:4px;" [routerLink]="['/settings']">
                  <img src="{{profileimage}}">
                </ion-avatar>
              
          </ion-col>
          </ion-row>
    </ion-toolbar>
    </ion-header>
<!--   
    <ion-menu contentId="content1" side="start"  style="--max-height:1200px;">
        <ion-header>
           
          <ion-item   [routerLink]="['/profile-details', userInfo.phoneNumber]"> 
            <ion-avatar slot="start">
              <img src="{{profileimage}}" >
            </ion-avatar>
            <ion-label>
              <h1>{{username}}</h1>
              <h3>{{userInfo.phoneNumber}}</h3>

            </ion-label>
          </ion-item>
        
          </ion-header>
      <ion-content>
          <ion-list>
            <ion-item >
                <ion-label  style = "margin-right: 10px;" (click)= logout();>LogOut</ion-label> 
                <ion-icon name="log-out" (click)= logout(); ></ion-icon>
            </ion-item>
           
          </ion-list>
        </ion-content>
    </ion-menu> 
    <ion-router-outlet id="content1" main></ion-router-outlet> -->

  

    <ion-content   class="card-background-page" *ngIf="data">

        <div class="pins">
            <div class="pin" *ngFor="let topic of topics" > 
                <ion-card    [routerLink]="['/viewjourney', topic.jid, topic.purpose]">
                  <img src="{{topic.image}}"/>
                  <div class="card-title">{{topic.purpose}}</div>
                </ion-card>
         
            </div> 
         
           </div>

        </ion-content> 
      

<ion-footer >
  <ion-slides [options]="slideOptsOne" #slides   *ngIf="advices" >
   <ion-slide *ngFor="let advice of advices">
<ion-card  style="width: 81%;border: 1px solid;box-shadow: none;border-radius: 10px;">

 <ion-item lines="none"  >
     <ion-avatar slot="start" style="width:50px;height:50px;" (click)="viewimage(advice.image)" >
       <img src="{{advice.image}}" >
     </ion-avatar>
     <ion-label>
       <p style="white-space: normal;"><span style="font-weight: bolder">Purpose:</span> {{advice.purpose}} </p>
       <p style="white-space: normal;"><span style="font-weight: bolder">Issue:</span> {{advice.issue}} </p>
     </ion-label>
    
   </ion-item>
   <ion-item  style=" margin-left: 10%; margin-bottom: 5px;width: 80%;border: 1px solid;box-shadow: none;border-radius: 10px;">
     <ion-input type="text" placeholder="my advice" [(ngModel)]="textadvice"> </ion-input><ion-icon name="send" (click)="sendadvice(advice.idjourney,advice.postid)" ></ion-icon>
   </ion-item>
   
 
   
 
</ion-card>
</ion-slide>


</ion-slides> 
<div style="position: absolute;top: 40%;left: 2px;font-size: 35px;z-index:1;" (click)= "prev()"   >
<ion-icon name="arrow-back"  mode="ios" ></ion-icon>
</div>
<div style="position: absolute;top: 40%;right: 5px;font-size: 35px;z-index: 1;" (click)= "next()" >
<ion-icon name="arrow-forward" mode="ios" ></ion-icon>
</div>


</ion-footer>

          

