<ion-header>
  <ion-toolbar  style="--background : #1C103C" mode="ios">
      <ion-item style="--background : #1C103C">
          <ion-avatar slot="start">
              <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"style="zoom:1.8; margin-top: 5px; margin-left:5px; color: white" [routerLink]="['/settings']"></ion-icon>
          </ion-avatar>
          <h3 style="margin-left:25%;color:white">Profile</h3>
        </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item lines="none"(click)="presentActionSheet()">
  <ion-avatar  style="width:180px;height:180px;margin-top:50px;margin-left:20%; " >
      <img  src="{{profileimage}}">
    </ion-avatar>
    <ion-icon ios="ios-camera" md="md-camera"  style="zoom:1.8;margin-top:90px; margin-left:-18px;  color: #1C103C"></ion-icon>
  </ion-item>
  <br>

  <ion-list >
      <ion-item  (click)="presentAlertPrompt()">
          <ion-avatar slot="start">
              <ion-icon name="person" style="zoom:1.8; margin-top: 5px; margin-left:5px; color: #1C103C" ></ion-icon>
          </ion-avatar>
          <ion-label>
              <h3>Name</h3>
              <h2 >{{uname}}</h2>
            </ion-label>
            <ion-icon name="create" style="zoom:1.0; margin-top: 5px; margin-right:8px; color: #1C103C" ></ion-icon>
           
        </ion-item>
        <ion-item>
            <ion-avatar slot="start">
                <ion-icon name="call"  style="zoom:1.8; margin-top: 5px; margin-left:5px; color: #1C103C" ></ion-icon>
            </ion-avatar>
            <ion-label>
                <h3>Phone number</h3>
                <h2>{{userphonenumber}}</h2>
              </ion-label>
            
          </ion-item>
        
    </ion-list>

</ion-content>
